<div class="row">
    <div class="col-md-6 col-lg-6" >
        <h4>Cadastrar Marca</h4>
        @Html.ActionLink("Cadastrar", "CadastrarMarca", "Marca", null, new { @class = "btn btn-lg btn-primary" })
    </div>
    
    <div class="col-md-6 col-lg-6">
        <h4>Listar Marcas</h4>
        @Html.ActionLink("Listar", "ListarMarcas", "Marca", null, new { @class = "btn btn-lg btn-primary" })
    </div>
</div>
