<div class="row">
    <div class="col-md-6 col-lg-6">
        <h4>Cadastrar Carro</h4>
        @Html.ActionLink("Cadastrar", "CadastrarCarro", "Carro", null, new { @class = "btn btn-lg btn-primary" })
    </div>

    <div class="col-md-6 col-lg-6">
        <h4>Listar Carros</h4>
        @Html.ActionLink("Listar", "ListarCarros", "Carro", null, new { @class = "btn btn-lg btn-primary" })
    </div>
</div>
